.modal-button{
    margin: 0;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    margin-right: 1rem;
    justify-content: space-evenly;
}
